@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Source+Code+Pro:ital,wght@1,200;1,300;1,400&display=swap');

h1, form {
    text-align: center;
}

h1 {
    color: black;
    font-family: 'New Tegomin', Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem !important;
    padding-top: 40px;
    mix-blend-mode: multiply;
}

form {
    margin: 0 auto;
    text-align: center;
    width: 60% !important;
}

.form-control {
    border: none !important;
}

.btn-outline-secondary {
    border: none !important;
}

.spacer-twenty {
    padding: 20px;
}