@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Source+Code+Pro:ital,wght@1,200;1,300;1,400&display=swap');

.vocabulary-display {
    margin-left: 5%;
    margin-right: 5%;
}

.vocabulary-title {
    display: inline-block;
    margin-right: 20px;
}

.pronunciation {
    color: gray;
    display: inline-block;
    padding-bottom: 20px;
}

.example {
    color: lightblue;
    font-style: italic;
    font-family: 'Source Code Pro';
    font-weight: 400;
}

.icons {
    font-size: 2em;
    margin: 0 0 0 5px;
    padding: 3px;
}

.icons:hover {
    text-decoration: none;
    background-color: rgba(188, 215, 224, 0.6);
    border-radius: 20px;
}

.noPlay:hover {
    text-decoration: none;
    background-color: coral;
    border-radius: 20px;
}

.word-category {
    color: rgb(61, 61, 61);
    margin-top: 20px !important;
    font-style: italic;
    font-size: 24px;
}

.vocab-buffer {
    margin-left: 50px !important;
    padding-left: 50px !important;
    margin-right: 50px !important;
    padding-right: 50px !important;
    margin-top: 20px !important;
    padding-top: 50px !important;
}

.card {
    margin-left: 50px !important;
    margin-right: 50px !important;
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px) {
    .vocab-buffer {
        margin-left: 15px !important;
        padding-left: 0 !important;
        margin-right: 15px !important;
        padding-right: 0 !important;
        padding-top: 0 !important;
    }

    .card {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
  }