@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@1,200;1,300;1,400&display=swap');

:root {
    --side-padding: 10%;
    --top-padding: 30px;
}

@media only screen
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    :root {
        --side-padding: 5%;
        --top-padding: 20px;
    }
}

.container-fluid {
    padding-top: var(--top-padding, 30px) !important;
    padding-left: var(--side-padding, 10%) !important;
    padding-right: var(--side-padding, 10%)!important;
    background-repeat: repeat-y;
}

.App-header {
    color: rgb(114, 114, 114);
    font-size: 14px;
    position: relative;
    right: 10%;
    bottom: 20px;
    mix-blend-mode: multiply;
}

.code-link {
    position: absolute;
    right: 20px;
    top: 5px;
}

.icon {
    font-size: 1.7em;
}

.header-row {
    width: 100px;
}

a {
    color: rgb(103, 96, 148) !important;
}

a:hover {
    text-decoration: none !important;
    color: rgb(8, 2, 43) !important;
}

.p-header {
    font-family: 'Source Code Pro', sans-serif;
    font-size: 14px;
    line-height: 100% !important;
    mix-blend-mode: multiply;
    margin-top: 5px;
}

.col-sm-6 {
    padding-right: 3px !important;
    padding-left: 0 !important;
}